<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>    
    <title>K-si 24 Minimarket</title>


    <style>

    
    </style>
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">K-SI 24</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>   
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Nuevos Productos<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <!-- <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </li>
          </ul>
          
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-md-4 my-5">
                <form method="POST">
                  {% csrf_token %}
                    <div class="card">
                        <center><h5 class="card-header">Ingreso de Nuevo Producto</h5></center>
                        <div class="card-body">
                         
                          <div class="form-group">
                              <label for="" class="">Codigo del Producto</label>
                              <input class="form-control" type="text" name="codigo_prod" id="nombre_producto" required>
                          </div>
                          <div class="form-group">
                            <label for="" class="">Descripción</label>
                            <input class="form-control" type="text" name="descripcio" id="cantidad_producto" required>
                        </div>
                        <div class="form-group">
                            <label for="" class="">Precio ($)</label>
                            <input class="form-control" type="text" name="precio" id="precio_producto" required>
                        </div>
                        
    
                        <input type="submit" value="Guardar Producto" class="form-control btn btn-info" >
                        </div>
    
                      </div>
                </form>
            </div>
            <div class="col-md-8 my-5">
                <table id="table" data-toggle="table" data-search="true" data-height="200"  class="table table-bordered ">
                    <thead class="thead-light ">
                    {% if productos %}
                      <tr>
                        <th scope="col">Codigo de Producto</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Precio ($)</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for p in productos %}
                      <tr>
                        <th >{{p.codigo_prod}}</th>
                        <th >{{p.descripcio}}</th>
                        <th >{{p.precio}} ($)</th>
                        <th ><input type="button"  class="btn btn-success" value="Editar"></th>
                        <th ><input type="button" class="btn btn-danger" value="Eliminar"></th>
                        {% endfor %}
                    </tbody>
                    
                                        {% else %}
                    {% endif %}
                  </table>
            </div>
        </div>
    </div>

    


<!--Scripts JS-->    



</body>

</html>