<form action="/cargaUnaVenta/" method="post" id="form">
    {% csrf_token %}
    <input type="text" name="usuario" value="{{user.username}}">
    <input type="submit" value="generar id Venta">
  
</form>

<br><br>

<form method="post" id="formBusqueda">
	{% csrf_token %}
 <input input type="search" placeholder="Buscar por codigo" id="busquedaProducto" autofocus="true" autocomplete="off" name="codigoProducto"  >
 <input type="submit" value="buscar">
</form>




<form action="/detalle/" method="post" id="formDetalleVenta">
    {% csrf_token %}
    {{user.id}}
    <input type="text" name="ventas" id="ventas" placeholder="id venta">
    <input type="text" name="producto" id="producto" placeholder="id producto">
    
    <input type="submit" value="Guardar producto Invidual con id especificado">
  
</form>


   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>






<script>
	/*
$("#form").submit(function(e) {
	e.preventDefault();
	    var productoInput = $('input[name="id"]').val(); 
    var descripcionInput = $('input[name="usuario"]').val().trim();
    //var descripcionInput2 = $('input[name="precioTotal"]').val().trim();
 
    if (descripcionInput ) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "cargaVenta" %}',
            data: {
                'id': 1,
                'Usuario': descripcionInput
                
            },
            // dataType: 'json',
            success: function (data) {
               console.log(data)
            }
        });

    } else {
        alert("All fields must have a valid value.");
    }

    return false;
});

*/


/******************** para guardar detalle de venta****************************/
$( "#formDetalleVenta" ).submit(function( event ) {
    event.preventDefault();
    var idVenta= $("#ventas").val();
    var form = $( "#formDetalleVenta" );

  $.ajax({
    url:"/detalle/"+idVenta+"/",
    data: form.serialize(),
    type: form.attr("method"),
    success: function (data) {
    console.log(data)
    },
    error:function(data) {
        console.log("No se ha podido obtener la información");
    }
  });
 // return false;
});

 /*******para guardar venta con su respectivo usuario***********/
$( "#form" ).submit(function( event ) {
    event.preventDefault();
    var form = $(this);
  $.ajax({
    url: form.attr("action"),
    data: form.serialize(),
    type: form.attr("method"),
    success: function (data) {
    console.log(data)
    $("#ventas").val(data);
    },
    error:function(data) {
        console.log("No se ha podido obtener la información");
    }
  });
 // return false;
});

/**********************************busqueda***********/


$( "#formBusqueda" ).submit(function( event ) {
    event.preventDefault();
    
    var form = $( "#formBusqueda" );

  $.ajax({
    url:"/buscarProducto/",
    data: form.serialize(),
    type: form.attr("method"),
    success: function (data) {
    console.log(data[0].id)
    $("#producto").val(data[0].id)
    },
    error:function(data) {
        console.log("No se ha podido obtener la información");
    }
  });
 // return false;
});


</script>